 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 189px;
}

.u-section-1 .u-group-elements-1 {
  width: 186px;
  min-height: 56px;
  height: auto;
  margin: 80px auto 0 232px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-1 {
  width: 20px;
  height: 20px;
  background-image: none;
  margin: -24px 0 4px auto;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 160px;
  min-height: 31px;
  height: auto;
  margin: 4px auto 18px 232px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-elements-2 {
  width: 128px;
  min-height: 22px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 0;
}

.u-section-1 .u-icon-2 {
  width: 15px;
  height: 15px;
  margin: -19px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    min-height: 53px;
    margin-top: 69px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 18px;
    margin-left: 154px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 369px;
}

.u-section-2 .u-group-elements-1 {
  width: 213px;
  min-height: 257px;
  margin: -139px auto 0 0;
}

.u-section-2 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-elements-2 {
  width: 197px;
  min-height: 36px;
  height: auto;
  margin: 22px auto -14px 8px;
}

.u-section-2 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: 1px 164px 0 0;
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 36px;
  height: 36px;
  margin: -34px 52px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 32px;
  height: 32px;
  margin: -34px 0 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 35px;
  height: 35px;
  margin: -34px 109px 0 53px;
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 498px;
  min-height: 522px;
  height: auto;
  margin: -283px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  margin: 13px 13px 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 13px 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2px auto 0 13px;
}

.u-section-2 .u-group-elements-3 {
  width: 128px;
  min-height: 26px;
  height: auto;
  margin: -35px 55px 9px auto;
}

.u-section-2 .u-icon-3 {
  width: 26px;
  height: 26px;
  margin: 0 102px 0 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.75rem;
  margin: -19px 0 0 auto;
}

.u-section-2 .u-table-1 {
  width: 612px;
  margin: -172px auto 60px 0;
}

.u-block-5497-33 {
  height: 46px;
}

.u-section-2 .u-table-cell-1 {
  line-height: 1.4;
}

.u-section-2 .u-icon-6 {
  width: 16px;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
}

.u-block-5497-44 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: NaNpx;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-table-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 197px;
    min-height: 253px;
    height: auto;
    margin-top: -153px;
    margin-left: -42px;
  }

  .u-section-2 .u-image-1 {
    width: 187px;
    height: 187px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 30px;
    margin-right: -98px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 610px;
    margin-top: 223px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-3 {
    margin-top: 8px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -820px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 266px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 30px 389px 0 304px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 19px 87px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 447px;
    margin-right: 145px;
    margin-left: 349px;
  }

  .u-section-3 .u-text-2 {
    width: 362px;
    margin-right: 434px;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 90px;
    margin-left: 184px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 269px;
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 45px;
    margin-left: 49px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 134px;
    margin-left: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 289px;
}

.u-section-4 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 279px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.u-section-4 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-4 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.u-section-4 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 540px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 27px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 52px;
}

.u-section-5 .u-text-1 {
  font-size: 0.875rem;
  margin: 15px auto 15px 10px;
}